<h1>Locate me!</h1>

<%= @location.city %>
<%= @location.state %>

<%= @one %>
<%= @two %>
<%= @three %>

<form action = "" method = "post">
  <input type="text" name="ip_input" />
  <input type="submit"/>
</form>
